h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
p {
    font-family: 'Courier New', Courier, monospace;
}
button {
    background-color: tomato;
    border-radius: 1em;
}
hr {
    border: thin green outset;
}